{% extends 'base.html' %}

{% block content %}
        <div>
            <h2 style="text-align : center"> {{ search | title }} </h2>
        </div>

    <div class="row">
        {% for post in final_postings %}
            <div class="col s4">
                <div class="card medium">
                    <div class="card-image" style="color: black">
                        <a href="{{ post.1 }}"><img src="{{ post.3 }}" alt="Miami"></a>
                        <span class="card-title" style="color : white "><strong>Miami</strong></span>
                    </div>
                    <div class="card-content">
                        <p>{{ post.0 }}</p>
                    </div>
                    <div class="card-action">
                        <p> Rent per day: Price {{ post.2 }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}